@use "../../styles/globals.scss";
@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;
.search-bar {
  display: flex;
  @include desktop {
    justify-content: flex-end;
    align-items: center;
  }
}

.search-bar input {
  padding: 8px 10px;
  margin-left: 1rem;
  width: 58vw;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  @include desktop {
    font-size: 1.5rem;
    width: 25vw;
  }
}

.search-button {
  padding-top: 5px;
  width: 1.8rem;
  height: 1.8rem;
  background: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  pointer-events: visible;
  font-size: 1rem;
}
