@use "../../styles/globals.scss";
@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;
.search-bar {
  display: flex;
  @include desktop {
    justify-content: flex-end;
    align-items: center;
  }
}

.search-bar input {
  padding: 8px 10px;
  margin: 10px;
  width: 300px; // 根据需要调整宽度
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  pointer-events: visible;
  font-size: 1rem;
}
