@use "../../styles/globals.scss";
@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $Primary-White;
  padding: 0.8rem 1rem;
  border-bottom: $Supporting-Gray 1px solid;
  @include desktop {
    justify-content: space-between;
    padding: 1rem 3rem;
    width: 93vw;
    font-size: 1.1rem;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    .header__logo {
      @include desktop {
        margin-right: 10px;
      }
    }

    h3 {
      display: none;
      margin: 0;
      color: $Primary-Black;
      font-size: 1.5rem;
      @include desktop {
        display: block;
      }
    }
  }
}
.header__button--wrapper {
  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
.header__button-content {
  display: none;
  @include desktop {
    display: block;
    color: $Primary-Black;
    text-transform: none;
    cursor: pointer;
    transition: color 0.2s ease-out;
    &:hover {
      color: $Primary-Orange;
    }
  }
}
