@use "../../styles/globals.scss";
@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;
.footer {
  text-align: center;
  padding: 1rem;
  background-color: $Primary-White;

  @include desktop {
  }

  .footer__top {
    display: flex;
    justify-content: center;
  }

  .footer-content {
    margin-top: 0.625rem;

    .footer-content__title {
      margin-bottom: 0.625rem;
    }

    .footer-links {
      display: none;
    }

    .social-media {
      display: flex;
      justify-content: center;
      gap: 1.625rem;

      .social-icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  p {
    margin-top: 1.25rem;
    font-size: 0.8rem;
    color: $Secondary-Slate;
  }
}
